node_modules
typings
coverage
build
dist
dev-dist
android
ios
migrations
frontend
backend
.next
out

.DS*Store
.vscode
.vs
.hintrc
.pnp
.pnp.js
*.pem
.expo
_.jks
_.p8
_.p12
_.mobileprovision
_.orig._
.env\_
.firebase
.vercel

_-debug._
_-error._

_.tsbuildinfo
expo-env.d.ts
next-env.d.ts
firebase.config_

Dockerfile
.dockerignore
.git

tslint.json
nodemon.json
tsoa.json
