node_modules
typings
coverage
web-build
api-build
android
ios
migrations

.DS_Store
.vscode
.env
.firebase
.vs
.hintrc
.pnp
.pnp.js
.expo
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
ui-debug.log*

expo-env.d.ts
firebase.config.json