node_modules
typings
coverage
build
dist
dev-dist
android
ios
migrations
frontend
backend
.next
out

.DS_Store
.vscode
.vs
.hintrc
.pnp
.pnp.js
*.pem
.expo
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*
.env*
.firebase
.vercel


*-debug.*
*-error.*
*.log

*.tsbuildinfo
expo-env.d.ts
next-env.d.ts
firebase.config*

ssl.key
ssl.pem

*.md
!README.md

